* {
  margin: 0;
  padding: 0;
}
:root {
  --blueLight: #192ea5;
  --blue: #00137a;
  --darkenBlue: #000d69;
  --buttonColor: #ff396f;
  --text1: #535461;
  --text2: #fdfdfd;
  --bg1: #fafafa;
  --card1: #fafafa;
  --card2: #fff;
}
@font-face {
  font-family: "Suisse Int'l";
  src: url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.eot");
  src: url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.svg#Suisse Int'l")
      format("svg");
}

@font-face {
  font-family: "Suisse Intl Light";
  src: url("https://d33wubrfki0l68.cloudfront.net/87565495e16c505216fe3004e633b4b87f3a5c05/0cff4/static/media/suisseintl-light.9be8b893.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  color: #c8cbe7;
}
body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: hsl(235, 21%, 11%);
  min-height: 100vh;
  font-size: 1.8rem;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

nav,
article,
aside {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.todo_container {
  width: 87vw;
  max-width: 540px;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #9495a5;
  font-size: 0.74em;
  line-height: 1.4rem;
  font-family: inherit;
}

.btn--bold {
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #e3e4f1;
  /* color: #494C6B; */
}

p.btn {
  pointer-events: none;
}

p.btn:hover {
  color: inherit;
}

header {
  display: block;
}
main {
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 7.8rem 0 0 0;
}

.logo_title {
  color: white;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 4rem;
  letter-spacing: 15px;
}

.btn--theme {
  background-color: transparent;
  border: none;
  padding-top: 3px;
}

.todo_header {
  /* width: 100%; */
  background-color: white;
  padding: 1.95rem 2.4rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 3.9rem;
  margin-bottom: 2.4rem;
  /* border: 1px solid #e3e4f1; */
  background-color: #25273d;
  /* border: 1px solid #393a4b; */
}

.todo_header label {
  position: absolute;
  left: -25vw;
}
.todo_circle,
.todo_check {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid #393a4b;
  border-radius: 50%;
  background: transparent;
}
.todo_circle {
  cursor: default;
}

.todo_input,
todo_input::-webkit-input-placeholder {
  font-size: 1em;
  border: none;
  font-family: inherit;
  line-height: 2rem;
  flex: 1 0;
  margin-left: 1em;
  background: transparent;
  color: inherit;
}
.todo_input:focus {
  outline: none;
}

.todo_list_container {
  /* border-top: 1px solid #393a4b;
  border-left: 1px solid #393a4b;
  border-right: 1px solid #393a4b; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.todo_list_container:first-child {
  overflow: hidden;
}

.todo_item {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  background-color: #25273d;
  border-bottom: 1px solid #393a4b;
  padding: 1.89rem 2.4rem;
}

.todo_item p {
  flex: 1;
  margin-left: 1.2em;
}

.todo_item--hide {
  display: none;
}

.checked p {
  color: #4d5067;
  text-decoration: line-through;
}
.todo_check {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: white; */
  transition: border 0.5s ease-in-out;
}
.todo_check img {
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.checked .todo_check {
  background: linear-gradient(to right, #55ddff, #c058f3);
}
.checked .todo_check img {
  transform: scale(1);
}
.todo_item:hover > .todo_check {
  border: 1px solid #c058f3;
}
.todo_delete {
  cursor: pointer;

  background: transparent;
  border: none;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  color: #979797;
}
.todo_item:hover > .todo_delete {
  transform: scale(1);
}
.filter_container {
  display: flex;
  padding: 1.5rem 2.4rem;
  background: #25273d;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #393a4b; */
  border-left: 1px solid #393a4b;
  border-right: 1px solid #393a4b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #4d5067;
}
.filter_container .btn {
  color: #4d5067;
}
.filter_center label {
  background: transparent;
  margin: 0 0.8rem;
}
.filter_center input[type="radio"] {
  display: none;
}

.filter_center input[type="radio"]:checked + label {
  color: #3a7cfd;
}

/* --------Responsive stuff--------- */
@media screen and (max-width: 1150px) {
  /* .container {
    width: 90vw;
  }
  .profSection {
    max-width: 80vw;
  } */
}
@media screen and (max-width: 980px) {
  /* .headingImg {
    height: 40vw;
  }
  .profile#kiri {
    flex-direction: row;
  }
  .profile #foto {
    width: 100px;
  } */
}
@media screen and (min-width: 821px) {
  /* .responsive_menu {
    display: none;
  } */
}
@media screen and (max-width: 770px) {
  /* body {
    font-size: 0.85rem;
  }
  .nav {
    padding: 25px 0;
  }
  .nav .menu {
    display: none;
  }
  .menu_burger {
    display: flex;
  }
  .heading {
    min-height: 80vh;
  }
  .heading .headingText {
    max-width: 90vw;
  }
  .headingImg {
    display: none;
  }

  #section3 .container {
    width: 100%;
  }

  .sectionImgs img {
    height: auto;
    max-width: 80px;
    max-height: 40px;
  }
  .profSection {
    max-width: 95vw;
  }
  .footerBtm .container {
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
  } */
  body {
    background-image: url("../img/bg-mobile-dark.jpg");
  }
}
@media screen and (max-width: 478px) {
  /* .sectionCards .card {
    width: 90% !important;
  }
  #section5 .sectionCards .pricing {
    width: 90%;
  }
  .sectionCounts {
    font-size: 0.8em;
    gap: 0;
    width: 100%;
    flex-wrap: wrap;
  }
  .profile#kiri {
    width: 100%;
    flex-direction: column;
  } */
  body {
    font-size: 1.2rem;
  }
  .logo {
    margin: 3.45em 0 0 0;
  }
  .logo_title {
    letter-spacing: 10.5px;
  }
  .btn {
    font-size: 1em;
  }
  .btn--theme {
    padding-top: 7px;
  }
  .btn--theme img {
    width: 20px;
  }
  .todo_header {
    margin: 26.6px 0 15px 0;
    padding: 14px 19px;
  }
  .todo_circle,
  .todo_check {
    cursor: pointer;
    width: 19px;
    height: 19px;
  }
  .todo_item {
    padding: 14px 19px;
  }
  .todo_item p {
    margin-left: 1em;
  }
  .filter_container {
    padding: 18px 19px;
  }
  .filter_center {
    position: absolute;
    display: flex;
    margin-top: 130px;
    padding: 18px 20vw;
    background: #25273d;
    border-radius: 5px;
    width: 48vw;
    left: 6vw;
    justify-content: space-between;
    font-size: 1em;
    align-items: center;
  }
}
